
@import 'variables';


.contact{
    min-height: calc(125vh - 25rem); // FOR FOOTER
    background-image: url(../src/contactBg2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    position: relative;
    .heading-primary{
        color:$color-prime;
        z-index: 2;
        font-size: 4rem;
        &:after{
            background-color: $color-prime;
        }
    }
    .content{
        width: 50% ;
        height:100%;
        position: absolute;
        background-color: $color-tertiary;
        overflow: hidden;
        display: flex;
        justify-content: center;
        top:0;
        right:0;
        padding: 5rem;
        .contact__list{
            position: relative;
            float: right;
            font-size: 2rem;
            .contact-info{
                background-color: rgba(#eee, .3);
                margin-top: 2rem;
                border-radius: 5rem;
                a{
                    height: 100%;
                    text-decoration: none;
                    color:white;
                    margin: 0 4rem 4rem 0 ;
                    &:hover{
                        color:black;
                    }
                }
                i{
                    margin: 1rem 2rem 2rem 2rem  ;
                }
            }
        }
    }
    p{
        position: absolute;
        bottom: 0;
        right: 10rem;
        font-size: 2rem;
        color:#eee;
    }
}

