@import 'variables';
    //create extra small for iphone 4 and nokia lumnia
    @include mediaXXSM{
        .home{
            @media screen and (min-height:320px) and (max-height:450px) {
                &__text{
                    img{
                        position: absolute;
                        top:-20%;
                        left: 0;
                    }
                }
            }
            h1#ronah{
            left:0;
            top: 5%;
            transform: scale(.5);
            color:$color-secondary;
            span{color:inherit}
            }
            h1#smoothie{
            top: 15%;
            left: -10%;
            transform: scale(.5);
            color:$color-secondary;
            span{color:inherit}
            }
            &__text{
                width: 100%;
                img.smoothie-cup{
                    display: none;
                }
                .paragraph{
                    width: 100%;
                    left: 0;
                    height: 55%;
                    align-items: initial;
                    padding-top: 5rem;
                    p{
                        font-size: 1.4rem;
                    }
                }       
            }
        }
        /*ABOUT*/
        .about{
            padding: 1.5rem;
            .text-small{
                margin-top: .3rem;
            }
            .info-boxes{
                width: 80%;
                grid-template-columns: 1fr;
                grid-gap:2rem;
                .box{
                    .inner{
                        .inner-front{
                            .text-wrapper{
                                padding: 1rem;
                                .heading-secondary{
                                    margin:0 auto;
                                }
                                .box-text{
                                    margin-top:.4rem;                    
                                }
                                #info{
                                    color:$color-tertiary;
                                }
                            }
                        }
                        .inner-back{
                            overflow: scroll;
                        }
                    }
                }
            }    
        }
        // PRODUCTS
        .product{
            .sliders-wrap{
                width: 95%;
                .slider{
                    &__description{
                        position: absolute;
                        top:50%;
                        right: 0;
                        width: 100%;
                        height: 50%;
                        border-radius: initial;
                        padding: 1.5rem;
                        // left:
                        h3{
                            margin: 1rem auto;
                        }
                        p{
                            margin: 1rem;
                        }
                    }
                    &__image{
                        position: absolute;
                        left: 20%;
                        width: 55%;
                        height: 50%;
                        border-radius: initial;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    }
                    .slider-1{
                        display:block;
        
                    }
                    .slider-2, .slider-3, .slider-4, .slider-5, .slider-6, .slider-7, .slider-8, .slider-9, .slider-10{
                        display:none;
                    }
                }
                .wrapper{
                    transform: scale(.7);
                   left: 30%;
                   bottom: 0;
                }
        
        }
        //CONTACTS
        .contact{
            @media screen and (min-height:320px) and (max-height:450px) {
                min-height: 100vh;
            }
            .heading-primary{
                transform: scale(.8);
                color:$color-secondary;
                &:after{
                    color:$color-secondary;
                }
            }
            .content{
                width: 100% ;
                height:100%;
                position: absolute;
                left: 0;
                top:0;
                z-index: 1;
                align-items: center;
                padding: 1.5rem;
                .contact__list{
                    font-size: 1.7rem;             
                    .contact-info:first-child{
                        padding: 1rem;
                        a{
                            margin: 0 .5rem 1rem 0 ;
                        }
                        i{
                            margin:0  ;
                        }
                    }
                }
            }
            p{
                display: none;
            }
        }
        
    }
    @include mediaXSM {
    // HOME
    .home{
        h1#ronah{
            left:0;
            top: 5%;
            transform: scale(.6);
            color:$color-secondary;
            span{color:inherit}
            }
            h1#smoothie{
            top: 15%;
            left: -10%;
            transform: scale(.6);
            color:$color-secondary;
            span{color:inherit}
            }
            &__text{
                width: 100%;
                img.smoothie-cup{
                    display: none;
                }
                .paragraph{
                    width: 100%;
                    left: 0;
                    height: 50%;
                    align-items: initial;
                    padding-top: 5rem;
                }       
            }     
    }
    /*ABOUT*/
    .about{
        padding: 1.5rem;
        .text-small{
            margin-top: .3rem;
        }
        .info-boxes{
            width: 80%;
            grid-template-columns: 1fr;
            grid-gap:2rem;
            .box{
                .inner{
                    .inner-front{
                        .text-wrapper{
                            padding: 1rem;
                            .heading-secondary{
                                margin:0 auto;
                            }
                            .box-text{
                                margin-top:.4rem;                    
                            }
                            #info{
                                color:$color-tertiary;
                            }
                        }
                    }
                    .inner-back{
                        overflow: scroll;
                    }
                }
            }
        }    
    }
    // PRODUCTS
    .product{
        .sliders-wrap{
            width: 95%;
            background-color: transparent;
            .slider{
                &__description{
                    position: absolute;
                    top:50%;
                    right: 0;
                    width: 100%;
                    height: 50%;
                    border-radius: initial;
                }
                &__image{
                    position: absolute;
                    left: 20%;
                    width: 55%;
                    height: 50%;
                    border-radius: initial;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                }
                .slider-1{
                    display:block;
    
                }
                .slider-2, .slider-3, .slider-4, .slider-5, .slider-6, .slider-7, .slider-8, .slider-9, .slider-10{
                    display:none;
                }
            }
            .wrapper{
               left: 2.7%;
               bottom: 1rem;
            }
    
    }
    //CONTACTS
    .contact{
        .heading-primary{
            z-index: 4;
            color:$color-secondary;
            &:after{
                background-color: $color-secondary;
            }
        }
        .img-box{
            display: none;
        }
        .content{
            width: 100% ;
            height:100%;
            position: absolute;
            left: 0;
            top:0;
            z-index: 1;
            align-items: center;
            padding: 2rem;
            .contact__list{
                font-size: 1.7rem;             
                .contact-info:first-child{
                    padding: 1.8rem;
                    a{
                        margin: 0 2rem 1rem 0 ;
                    }
                    i{
                        margin:0  ;
                    }
                }
            }
        }
        p{
            display: none;
        }
    }    
    }
    @include mediaSM {
    // HOME
    .home{
        @media screen and (min-height:320px) and (max-height:360px) {
            min-height: 190vh;
        }
        @media screen and (min-height:361px) and (max-height:480px) {
            min-height: 125vh;
        }
        h1#ronah{
            left:0;
            font-size: 5rem;
            letter-spacing: 1rem;
            color:black;
            span{
                color:$color-prime;
            }
        }
        h1#smoothie{
            right:0;
            font-size: 4rem;
            color:black;
            span:first-child{
                color:black;
            }
        }

        &__text{
            img{
                width: 70%;
                height: 50%;
            }
            .paragraph{
                border-radius: initial;
                width: 100%;
                height: 43%;
                left: 0;
                p{
                    font-size: 1.6rem;
                }
            }       
        }
    }
    /*ABOUT*/
        .about{
            text-align:center;
            font-size:1.6rem;
            padding: 1rem;
            .info-boxes{
                width: 60%;
                margin-top: auto 0 2rem 0;
                grid-template-columns: 1fr;
                grid-gap:2rem;
                .box{
                    .inner{
                        .inner-front{
                            .text-wrapper{
                                .heading-secondary{
                                    margin:.8rem auto;
                                }
                                .box-text{
                                    margin-top:.6rem;                    
                                }
                                #info{
                                    color:$color-tertiary;
                                }
                            }
                        }
                    }
                }
                
            }    
        }
    // PRODUCTS
    .product{
        .sliders-wrap{
            width: 100%;
            height: 70%;
            .slider{
                &__description{
                    position: absolute;
                    top:0%;
                    left: 0;
                    width: 50%;
                    height: 100%;
                    border-radius: initial;
                    padding: .4rem 1.5rem;
                    padding: .5;
                    h3{
                        margin: .5rem auto;
                        text-transform: uppercase;
                        font-style: oblique;
                    }
                    p{
                        margin: 1.5rem auto;
                    }
                    ul{
                        margin: 0 2rem;
                    }
                }
                &__image{
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 50%;
                    height: 100%;
                    border-radius: initial;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                }
                .slider-1{
                    display:block;
    
                }
                .slider-2, .slider-3, .slider-4, .slider-5, .slider-6, .slider-7, .slider-8, .slider-9, .slider-10{
                    display:none;
                }
            }
            .wrapper{
               left: 0;
               bottom: 1rem;
            }
    }
    //CONTACTS
    .contact{    
        background-color: $color-tertiary;
        @media screen and (min-height:320px) and (max-height:450px) {
            min-height: 125vh;
        }
        .heading-primary{
            color:$color-secondary;
            transform: scale(.8);
            margin-bottom: 2rem;
        }
        .content{
            width: 100% ;
            align-items: center;
            padding: 2rem;
            .contact__list{
                font-size: 1.7rem;             
                .contact-info:first-child{
                    padding: 1.8rem;
                    a{
                        margin: 0 2rem 1rem 0 ;
                    }
                    i{
                        margin:0  ;
                    }
                }
            }
        }
        p{
            display: none;
        }
    }
    }
    @include mediaMD {
    // HOME
    .home{
        @media screen and (min-height:350px) and (max-height:480px) {
            min-height: 140vh;
            &__text{
                img{
                    position: absolute;
                    top:-20%;
                    left: 0;
                }
            }
        }
        h1#ronah{
            left:0;
            transform: scale(.7);
            letter-spacing: 1rem;
            span{
                color:$color-prime;
            }
        }
        h1#smoothie{
            right: -8%;
            margin-left: 8rem;
            transform: scale(.6);
            color:$color-prime;
        }
        &__text{
            img{
                transform: scale(.7);
            }
            .paragraph{
                height: 40%;

                p{
                    font-size: 1.6rem;
                }
            }       
        }
    }
    /*ABOUT OKAY*/
    .about{
        padding:1rem;
        .heading-primary{
            font-size: 2.8rem;
            margin-bottom: 2rem;
            padding: .5rem;
        }
        .info-boxes{
            width: 45%;
            grid-template-columns: 1fr;
            grid-gap:2rem;
        }    
    }
    // PRODUCTS
    .product{
        @media screen and (min-height:350px) and (max-height:480px) {
            height: 120vh;
            .sliders-wrap{
                margin: 3rem auto;
            }
        }
        .sliders-wrap{
            width:100%;
            .slider{
                &__description{
                    border-radius: initial;
                    top:0;
                    left:0;
                    height: 75%;
                    h3{
                        margin: 1rem auto;
                    }
                }
                &__image{
                    border-radius: initial;
                    height: 75%;
                }
            }
        }
        .wrapper{
            left:0;
            bottom: 7rem;
        }
    }
    //CONTACTS
    .contact{
        position: relative;
        background-size: 40rem;
        background-position: left;
        @media screen and (min-height:350px) and (max-height:450px) {
            min-height: 125vh;
        }
        .heading-primary{
            transform: scale(.8);
        }
        .content{
            padding: 1rem;
            .contact__list{
                margin: 5rem auto;
                font-size: 1.7rem;             
                .contact-info{
                    transform: scale(.85);
                    padding: 1.8rem;
                    a{
                        margin-bottom:1rem;
                    }
                    i{
                        margin: .5rem 1rem 1rem .5rem  ;
                    }
                }
            }
        }
        p{
            display: none;
        }
    }
    }
    //large tablet, small laptops: HERE
    @include mediaLG {
    
    // HOME
    .home{
        @media screen and (min-height: 1024px) and (max-height: 1400px){
            .home__text{
                .paragraph{
                    padding: 0;
                    p{
                        font-size: 1.9rem;
                    }
                }
            }
        }
        h1#ronah{
            left:1%;
            transform: scale(.9);
            letter-spacing: 1.5rem;
            span{
                color:$color-prime;
            }
        }
        h1#smoothie{
            right: 0;
            transform: scale(.8);
            color:$color-prime;
        }
        &__text{
            .smoothie-cup{
                transform: scale(.8);
            }
    
            .paragraph{
                height: 38%;
                p{
                    width: 80%;
                    margin: 0 auto;
                    font-size: 1.7rem;
                }
            }       
        }
    }
    /*ABOUT*/
        .about{
            padding: 1.5rem;
            font-size:1.6rem;
            .info-boxes{
                width: 80%;
                grid-template-columns: 1fr 1fr;
                grid-gap:2rem;
        
            }    
        }
    // PRODUCTS
    .product{   
        .sliders-wrap{
            width:90%;
        }
        .wrapper{
            left:5%;
        }
        @media screen and (min-height: 1024px) and (max-height: 1400px){
            .sliders-wrap{
                .slider{
                    &__description{
                        top:50%;
                        left: 0;
                        padding-top: 4rem;
                        border-radius: 20px;
                        width: 100%;
                        height: 50%;
                    }
                    &__image{
                        top:0;
                        left: 20%;
                        width: 60%;
                        height: 50%;
                        border-radius: 20px 20px 0 0;

                    }
        
                    }
            }
        }
    }
    //CONTACTS
    .contact{
        background-size: 50rem;
        background-position: left;
        .heading-primary{
            transform: scale(.9);
        }
        .content{
            padding: 1rem;
            align-items: center;
            .contact__list{
                font-size: 1.7rem;             
                .contact-info{
                    padding: 1.8rem;
                    a{
                        margin-bottom:1rem;
                    }
                    i{
                        margin: .5rem 1rem 1rem .5rem  ;
                    }
                }
            }
        }
    }
    }
    @include mediaXL {
        // QUICK FIX for IPads 
        @media screen and (min-height: 1024px) and (max-height: 1400px){
            .contact{
                background-size: 70rem;
                .content{
                    padding: 1rem;
                    align-items: center;    
            }
        }
    }   
    }