@import 'variables';
/* NAVIGATION  */
.navbar{
    font-size: 1.7rem;
    background-color: $color-tertiary;
    a{
        color:$color-prime;
    }
    button.navbar-toggler {
        z-index: 3;
        outline: none;
        border-color: $color-prime;
        span{
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(252, 163, 37)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
    }
    #navbarNav{
        ul{
            li{
                a{
                    position: relative;
                    color:#ffffff;
                    margin-left: 1rem;
                    font-weight: 600;
                    z-index: 1;
                    &:after{
                        content: ' ';
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        width: 0;
                        height: 100%;
                        background-color: $color-prime;
                        transition: all .4s ease-out;
                    }
                    &:hover:after{
                        width: 100%;
                    }
                }
            }
        }
    }
}
