@import 'variables';
/* NAVIGATION  */
.navigation{
    position:fixed;
    left:1rem;
    top: 2rem;
    width:7rem;
    height:7rem;
    background-color:$color-tertiary;
    transition:all .3s ease-in-out;
    z-index: 5;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.out.navigation{
    left:0;
    opacity: 1;
    transform: scale(9);
}
.out.navigation .nav-list{
    opacity: 1;
    left: 2px;
}
.out.navigation .nav-list  .nav-item{
    left: 10px;
}
.nav-list{
    padding:4px;
    display: block;
    position: relative;
    opacity: 0;
    top:20%;
    left:-20%;
    transition:all .8s ease-in-out;
}
.nav-list a.nav-item{
    display:block;
    font-size:3px;
    position: relative;
    left:-18%;
    text-decoration: none;
    margin-top: .2rem;
    color:white;
    font-weight: 600;
    transition:all .3s ease-in-out;
}
.nav-list a.nav-item:hover{
    z-index: 10;
    cursor: pointer;
    font-style: italic;
    color: $color-prime;
    transform:translateX(3px);
}
/* MENU BUTTON */
.hamburger-button {
    position: fixed;
    top:2rem;
    left:1rem;
    width: 8rem;
    height: 8rem;
    background-color:$color-tertiary;
    border-radius:50%;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index:1000;
    cursor:pointer;    
}
.bar1{
    width:75%;
    height:.6rem;
    background: white;
    display:flex;
    transition:all .5s ease-in-out;
    position:relative;

}
.hamburger-button .bar1::before,
.hamburger-button .bar1::after{
    content:" ";
    position: absolute;
    width:100%;
    height:.6rem;
    background: inherit;
    transition:all .5s ease-in-out;

}
.hamburger-button .bar1::before{
    top:-1.2rem;
}
.hamburger-button .bar1::after{
    top:1.2rem;
}
.hamburger-button.change .bar1{
    transform:rotate(45deg);
}
.hamburger-button.change .bar1::before,
.hamburger-button.change .bar1::after{
    top:0;
    transform:rotate(-90deg);
}
